.DS_Store
.env
*.aab
*.apk
*.jks
*.keystore
*.pem
*.secret
*.zip
**/__pycache__/
**/.gradle/
**/.pytest_cache/
**/.venv/
**/build/
**/local.properties
android/.kotlin/
android/app/.kotlin/
android/build/
