<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application android:usesCleartextTraffic="true" tools:replace="android:usesCleartextTraffic">
        <provider android:name=".FixtureDocumentsProvider" android:authorities="${applicationId}.fixtures" android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS" />
        <provider android:name=".HostCardDocumentsProvider" android:authorities="${applicationId}.hostcard" android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS" />
    </application>
</manifest>
